<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head th:replace="~{category/template :: head(title='Shipping')}"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }
</style>
</head>

<body>
<th:block th:replace="category/template::icons"/>
<th:block th:replace="category/template::header"/>



<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <div th:if="${message != null}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <h4 class="mb-3">Shipping address</h4>
                <form method="post" th:object="${order}" class="needs-validation" novalidate>

                    <div class="error" th:if="${#fields.hasAnyErrors()}">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>

                            <span class="error" th:if="${#fields.hasErrors('customer.firstName')}" th:errors="*{customer.firstName}">Name Error</span>

                            <input th:field="*{customer.firstName}" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <input th:field="*{id}  " type="hidden">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <span class="error" th:if="${#fields.hasErrors('customer.lastName')}" th:errors="*{customer.lastName}">LastName Error</span>

                            <input th:field="*{customer.lastName}" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                            <span class="error" th:if="${#fields.hasErrors('customer.email')}" th:errors="*{customer.email}">Email Error</span>


                            <input th:field="*{customer.email}" type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="shipping-address" class="form-label">Shipping Address</label>

                            <span class="error" th:if="${#fields.hasErrors('customer.shippingAddress.street')}" th:errors="*{customer.shippingAddress.street}">Shipping Street Error</span>

                            <input th:field="*{customer.shippingAddress.street}" type="text" class="form-control" id="shipping-address" placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="shipping-country" class="form-label">Country</label>
                            <span class="error" th:if="${#fields.hasErrors('customer.shippingAddress.country')}" th:errors="*{customer.shippingAddress.country}">Country Error</span>
                            <select th:field="*{customer.shippingAddress.country}" class="form-select" id="shipping-country" required>
                                <option value="">Choose...</option>
                                <option value="USA">United States</option>
                                <option value="POLAND">Poland</option>
                                <option value="GERMANY">Germany</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="shipping-city" class="form-label">City</label>
                            <span class="error" th:if="${#fields.hasErrors('customer.shippingAddress.city')}" th:errors="*{customer.shippingAddress.city}">City Error</span>

                            <input th:field="*{customer.shippingAddress.city}" type="text" class="form-control" id="shipping-city" placeholder="Input City" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="shipping-zip" class="form-label">Zip</label>
                            <span class="error" th:if="${#fields.hasErrors('customer.shippingAddress.zip')}" th:errors="*{customer.shippingAddress.zip}">ZipCode Error</span>

                            <input th:field="*{customer.shippingAddress.zip}" type="text" class="form-control" id="shipping-zip" placeholder="XX-XXX" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">


                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{customer.sameAddress}" id="same-address">
                        <label class="form-check-label" for="same-address">Billing address is the same as my shipping address</label>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Billing address</h4>


                    <h5 class="mb-3">If Billing adress is different please input correct data</h5>

                        <div class="row g-3">

                            <div class="col-12">
                                <label for="billing-address" class="form-label">Billing Address</label>
                                <span class="error" th:if="${#fields.hasErrors('customer.billingAddress.street')}" th:errors="*{customer.billingAddress.street}">Billing Street Error</span>

                                <input th:field="*{customer.billingAddress.street}" type="text" class="form-control" id="billing-address" placeholder="1234 Main St" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label for="billing-country" class="form-label">Country</label>
                                <span class="error" th:if="${#fields.hasErrors('customer.billingAddress.country')}" th:errors="*{customer.billingAddress.country}">Billing Country Error</span>

                                <select th:field="*{customer.billingAddress.country}" class="form-select" id="billing-country" required>
                                    <option value="">Choose...</option>
                                    <option value="USA">United States</option>
                                    <option value="POLAND">Poland</option>
                                    <option value="GERMANY">Germany</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="billing-city" class="form-label">City</label>
                                <span class="error" th:if="${#fields.hasErrors('customer.billingAddress.city')}" th:errors="*{customer.billingAddress.city}">Billing City Error</span>

                                <input th:field="*{customer.billingAddress.city}" type="text" class="form-control" id="billing-city" placeholder="Input City" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="billing-zip" class="form-label">Zip</label>
                                <span class="error" th:if="${#fields.hasErrors('customer.billingAddress.zip')}" th:errors="*{customer.billingAddress.zip}">Shipping ZipCode Error</span>

                                <input th:field="*{customer.billingAddress.zip}" type="text" class="form-control" id="billing-zip" placeholder="XX-XXX" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>
                    <hr class="my-4">
                    <h4 class="mb-3">Payment</h4>

                    <div class="my-3">
                        <span class="error" th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}">Shipping ZipCode Error</span>

                        <div class="form-check">
                            <input th:field="*{payment}" id="credit" name="paymentMethod" type="radio" class="form-check-input" value="CREDIT_CARD" checked required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input th:field="*{payment}" id="debit" name="paymentMethod" type="radio" class="form-check-input" value="DEBIT_CARD" required>
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input th:field="*{payment}" id="paypal" name="paymentMethod" type="radio" class="form-check-input" value="PAYPAL" required>
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>


                    <button class="w-100 btn btn-primary btn-lg" type="submit">Finish</button>
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="category/template :: footer" class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/static">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </th:block>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="checkout.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sameAddressCheckbox = document.getElementById('same-address');
        const shippingAddressFields = {
            street: document.getElementById('shipping-address'),
            country: document.getElementById('shipping-country'),
            city: document.getElementById('shipping-city'),
            zip: document.getElementById('shipping-zip')
        };

        const billingAddressFields = {
            street: document.getElementById('billing-address'),
            country: document.getElementById('billing-country'),
            city: document.getElementById('billing-city'),
            zip: document.getElementById('billing-zip')
        };

        sameAddressCheckbox.addEventListener('change', function () {
            if (this.checked) {
                billingAddressFields.street.value = shippingAddressFields.street.value;
                billingAddressFields.country.value = shippingAddressFields.country.value;
                billingAddressFields.city.value = shippingAddressFields.city.value;
                billingAddressFields.zip.value = shippingAddressFields.zip.value;

                // Dezaktywujemy pola, aby uniemożliwić ich edycję
                for (let key in billingAddressFields) {
                    billingAddressFields[key].setAttribute('readonly', 'true');
                }
            } else {
                // Aktywujemy pola w przypadku odznaczenia
                for (let key in billingAddressFields) {
                    billingAddressFields[key].removeAttribute('readonly');
                }
            }
        });
    });
</script>


</body>
</html>
