/* Styl dla linku */
.card-link {
    color: inherit; /* Dziedziczenie koloru tekstu */
    text-decoration: none; /* Usunięcie podkreślenia */
}

/* Podświetlenie linku na niebiesko po najechaniu */
.card-link:hover {
    color: blue; /* Zmiana koloru tekstu na niebieski */
}

.category-image {
    width: 100%;
    height: 200px; /* Zwiększona wysokość obrazu */
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-body {
    /*height: 50px; !* Zmniejszona wysokość pola z nazwą kategorii *!*/
    overflow: hidden; /* Ukrycie nadmiarowego tekstu, jeśli występuje */
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
}

.category-name {
    font-size: 2rem; /* Możesz dostosować rozmiar czcionki, jeśli to konieczne */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0; /* Ustawienie marginesu na 0, aby tekst był wyśrodkowany */
    display: block;
}

.product-price {
    font-size:2rem; /* lub 1em, aby był tej samej wielkości co nazwa produktu */
    color: red;
    margin-top: 10px; /* dodanie odstępu, jeśli to konieczne */
    display: block; /* wymuszenie wyświetlania w nowej linii */
}

.custom-btn-green {
    background-color: green;
    border-color: green;
}
.custom-btn-green:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}


