/* styles.css */
.nav-link.active {
    background-color: #007bff; /* Kolor tła */
    color: #fff; /* Kolor tekstu */
}

.custom-select-height .select2-selection--single {
    height: 38px; /* Dostosuj tę wartość, aby dopasować wysokość do pola "Name" */
    display: flex;
    align-items: center;
}

.error{
    color: red;
}

.sort-asc:after{
    content: " ↑";
    color: greenyellow;
}

.sort-desc:after{
    content: " ↓";
    color: #2fc4ff;
}